.btn {
  font-weight: bold;
  text-decoration: none;
  background-color: var(--highlight);
  color: var(--highlight-contrast);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  overflow: visible;
  padding: 10px 20px;
  position: relative;
  margin: 2rem 0 0;
  cursor: pointer;
  text-transform: uppercase;
}